[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hirisplexr"]
	path = hirisplexr
	url = https://github.com/adhikari-statgen-lab/hirisplexr
